<!DOCTYPE html>
<html
  lang="en"
  class="h-full"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section>
        <h2 class="font-bold mb-2">In progress</h2>

        <ul>
          <!-- Dynamically creates a list of assigments from the assignments object -->
          <li
            v-for="assignment in assignments.filter(a => !a.complete)"
            :key="assignment.id"
          >
            <label
              >{{ assignment.name }}
              <!-- Binds the value of the input to the complete property in the assignments object -->
              <input
                type="checkbox"
                v-model="assignment.complete"
              />
            </label>
          </li>
        </ul>
        <!-- <pre>{{assignments}}</pre> -->
      </section>

      <section class="mt-8">
        <h2 class="font-bold mb-2">Completed</h2>

        <ul>
          <!-- Dynamically creates a list of assigments from the assignments object -->
          <li
            v-for="assignment in assignments.filter(a => a.complete)"
            :key="assignment.id"
          >
            <label
              >{{ assignment.name }}
              <!-- Binds the value of the input to the complete property in the assignments object -->
              <input
                type="checkbox"
                v-model="assignment.complete"
              />
            </label>
          </li>
        </ul>
        <!-- <pre>{{assignments}}</pre> -->
      </section>
    </div>

    <script>
      // Creates a component with an object that contains our assignments
      let app = {
        data() {
          return {
            assignments: [
              { name: "Finish project", complete: false, id: 1 },
              { name: "Read chapter 4", complete: false, id: 2 },
              { name: "Turn in homework", complete: false, id: 3 },
            ],
          };
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
